<link rel="stylesheet" href="../source/css/chart.css">
<style>
	.search-button-point {
		border: 1px solid #ebebeb;
		position: absolute;
		top: 5px;
		right: 5px;
		width: 20px;
		height: 20px;
		line-height: 20px;
		border-radius: 3px;
		text-align: center;
	}
	.search-button-point:hover {
		color: #3cc;
		border: 1px solid #3cc;
	}
	.search-button-point:hover > i {
		color: #3cc
	}
	.search-button-point > i {
		cursor: pointer;
	    color: #ebebeb;
	    font-size: 16px;
	}
	.chart-spinner {
		text-align: center;
		height: 200px;
	}
	.chart-spinner i {
		line-height: 200px;
	}
</style>
<div id="common_data_container">
	<common-data :admin="false"></common-data>	
</div>
<script type="text/x-vue-template" id="common_data_template">
	<div class="enterBox" style="border-bottom:none;">
		<div class="topTableBox" style="border-top:none;">
			<table class="topTable">
				<tbody>
					<tr>
						<th style="width:80px;">学校名称:</th>
						<td style="width:18.3%;">
							<div class="commonInputBox" style="width:100%">
								<input class="commonput unitsEnter" @focus="openSearchNameModal" v-model="university.name" style="padding-right:30px;">
								<div class="showDetailBox showDetailBox1" @click="openSearchNameModal"><i class="fa fa-ellipsis-h showDetail"></i></div>
							</div>
						</td>
						<th></th>
						<td></td>
						<td colspan="2"></td>
						<td>
							<a class="searchBtn rightMinBtn" style="width:200px;" @click="convertToPDF">下载为PDF文件</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="enterBox" v-if="university.id!==''">
		<div class="topTableBox" style="padding-top:0px;">
			<div class="changeBarContainer" style="border-top:none;">
				<div class="changeBarBox changeBarBox6" style="width:100%;text-align:center;">
					<a :class="['changeLeft changeButton', tab_index==point.id?'green':'']" @click="switchTab(point)" v-for="point in points_data">{{point.name}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="chart-spinner" v-if="requesting">
		<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
	</div>
	<div v-if="!requesting"> 
		<mark-chart v-for="mark in mark_data" :tabs.sync="mark.tabs" :title="mark.title"></mark-chart>
	</div>
	
	<div class="custom-modal" data-drag-modal="false" v-el:modal>
		<div class="custom-modal-content" style="width:720px;" drag-modal-content>
			<div class="custom-modal-close" @click="closeSearchNameModal(false)">
				<i class="fa fa-close"></i>
			</div>
			<div class="custom-modal-head" data-drag-enter>
				<span>选择单位</span>
			</div>
			<div class="custom-modal-body">
				<div class="custom-search-bar">
					<div class="custom-input-box">
						<input type="text" class="custom-input" v-model="search_str" @keydown.13="searchNode">
					</div>
					<div class="search-box"  @click="searchNode">
						<i class="fa fa-search fa-lg"></i>
					</div>
				</div>
				<div style="padding:0px 20px;">
					<div class="qingta-ztree-header">
						<span class="qingta-ztree-cell qingta-ztree-switch">展开</span>
						<span class="qingta-ztree-cell qingta-ztree-check">选择单位</span>
						<div class="qingta-ztree-name">
							<span class="qingta-ztree-cell">单位名称</span>
						</div>
					</div>
					<div class="qingta-ztree-table" style="width:696px;">
						<ul id="tree" class="ztree ztree-at-top" style="width:678px;">
						</ul>
					</div>
				</div>
			</div>
			<div class="custom-modal-foot">
				<div data-drag-enter></div>
				<a class="qingta-button button-green" @click="closeSearchNameModal(true)" style="background-color: #57D9E9">确定</a>
				<a class="qingta-button button-blue" @click="closeSearchNameModal(false)" style="background-color: #c9c9c9">取消</a>
			</div>
		</div>
	</div>
</script>

<script type="text/x-vue-template" id="mark_chart_template">
	<div class="tableContent" style="display:block;">
		<div class="infoTableBox">
			<div class="infoTableContent"  style="padding-top:10px;">
				<div class="infoTableTop">
					<div class="infoTablePara">
						<span class="topLeft">{{title}}</span>
						<div style="float:right;padding-top:5px;" v-if="tabs[tab_index] && tabs[tab_index].options.length > 0">
							<span style="color:#777;font-size:14px;">{{tabs[tab_index].options_placeholder + " :"}}</span>
							<div class="commonInputBox" style="display:inline-block;">
								<input class="commonput" style="padding-right:30px" @focus="openSelectOptionModal(tabs[tab_index].options_placeholder)" v-model="selected_name">
								<div class="search-button-point" @click="openSelectOptionModal(tabs[tab_index].options_placeholder)"><i class="fa fa-ellipsis-h showDetail"></i></div>
							</div>
						</div>
					</div>
				</div>
				<div class="changeBarContainer" style="border-top:none;text-align:center;" v-if="tabs.length>1">
					<div class="changeBarBox" style="text-align:center;margin-right:0px;float:none;">
						<a :class="['changeButton changeButtonTab', tab_index==$index?'yellow':'']" v-for="tab in tabs" @click="switchTab($index)">{{tab.name}}</a>
					</div>
				</div>
				<div v-el:chart :style="{width:'100%',height:getHeight(),background:'#eef'}" v-el:chart></div>
			</div>
		</div>
		<div class="custom-modal" data-drag-modal="false" v-el:modal v-if="tabs[tab_index]">
			<div class="custom-modal-content" style="width:720px;" drag-modal-content>
				<div class="custom-modal-close" @click="closeSelectOptionModal(false)">
					<i class="fa fa-close"></i>
				</div>
				<div class="custom-modal-head" data-drag-enter>
					<span>{{select_placeholder}}</span>
				</div>
				<div class="custom-modal-body">
					<div class="custom-search-bar">
						<div class="custom-input-box">
							<input type="text" class="custom-input" v-model="search_str" @keydown.13="searchOption">
						</div>
						<div class="search-box" @click="searchOption">
							<i class="fa fa-search fa-lg"></i>
						</div>
					</div>
					<div style="height:400px;overflow-y:auto;margin:0 20px;">
						<table class="infoTable" style="margin:10px 0px;">
							<thead>
								<tr class="tableTitle">
									<th style="width:100px;">序号</th>
									<th>选项名称</th>
									<th style="width:100px;">选择</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="option in display_options" @click="selectOption(option)" v-show="option.show">
									<td>{{$index+1}}</td>
									<td>{{option.name}}</td>
									<td style="cursor:pointer"><input type="radio" :checked="option.select"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- <ul style="height:400px;overflow-y:auto;" v-el:list>
						<li v-for="option in display_options" :class="['round-border-item', option.select?'selected':'']" v-show="option.show" @click="selectOption(option)">{{option.name}}</li>
					</ul> -->
				</div>
				<div class="custom-modal-foot">
					<div data-drag-enter></div>
					<a class="qingta-button button-green" style="background-color: #57D9E9;" @click="closeSelectOptionModal(true)">确定</a>
					<a class="qingta-button button-gray" style="background-color: #c9c9c9;" @click="closeSelectOptionModal(false)">取消</a>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/javascript">
function searchAndScrollToNode(zTreeObj, str) {
	var attrs = Array.prototype.slice.call(arguments, 2)

	var node = zTreeObj.getNodesByFilter(function(node){
		return attrs.some(function(attr){
			return node[attr].indexOf(str) !== -1
		})
	}, true)

	if (!node) {
		alert('未找到相关数据')
		return false 
	}
	
	var stack = [node], parentNode = node.getParentNode()
	while(parentNode) { 
		stack.push(parentNode)
		parentNode = parentNode.getParentNode()
	}

	stack.reverse().forEach(function(item){
		zTreeObj.expandNode(item, true, false, false)
	})

	var $node = $('#'+ node.tId)
	var $container = $node.parents('.ztree').parent()
	
	var offset = $('#tree_1').offset()

	$container.animate({
		scrollTop: $node.offset().top - (offset && offset.top)
	}, 1000)
	return true
}

var baseTree

var chartId = 0

Vue.component('mark-chart', {
	template: $(mark_chart_template).html(),
	props: ['title', 'tabs'],
	data: function(){
		return {
			select_placeholder: "",
			tab_index: -1,
			search_str: '',
			selected_order: -1,
			selected_name: "",
			selected_order_pre: {
				order: -1,
				name: '',
				show: true,
				select: true
			},
			display_options: [],
			mounting: false
		}
	},
	watch: {
		'tab_index': function(val){
			if (val !== -1) {
				this.display_options = this.tabs[val].options.map(function(item, order){
					return {
						order: order,
						name: item,
						show: true,
						select: false
					}
				})
				if (this.display_options.length > 0) {
					var firstItem = this.display_options[0]
					this.selected_order = firstItem.order
					this.selected_name = firstItem.name
					this.selected_order_pre.name = firstItem.name
					this.selected_order_pre.order = firstItem.order
					firstItem.select = true
				}
			}
		}
	},
	methods: {
		getHeight: function(){
			return ((window.innerWidth - 240) * 0.3 | 0) + 'px'
		},
		switchTab: function(index){
			if (!this.mounting) {
				this.tab_index = index
			}
		},
		searchOption: function(){
			var str = this.search_str
			this.display_options.forEach(function(item){
				if (item.name.indexOf(str) !== -1) {
					item.show = true
				} else {
					item.show = false
				}
			})
		},
		respondToSelect: function(order){
			var oldOrder = this.selected_order_pre.order
			if (oldOrder !== -1) {
				this.display_options[oldOrder].select = false
			}
			this.selected_order_pre.order = order
			this.display_options[order].select = true
		},
		selectOption: function(option){
			this.respondToSelect(option.order)

			this.selected_order_pre.name = option.name
		},
		closeSelectOptionModal: function(save){
			if (save) {
				this.selected_order = this.selected_order_pre.order
				this.selected_name = this.selected_order_pre.name
			} else {
				this.respondToSelect(this.selected_order)
				this.selected_order_pre.order = this.selected_order
				this.selected_order_pre.name = this.selected_name
			}
			hideModal($(this.$els.modal))
		},
		openSelectOptionModal: function(placeholder){
			this.select_placeholder = placeholder
			if (!this.mounting) {
				openModal($(this.$els.modal))
			}
		}
	},
	ready: function(){
		this.$watch(function(){
			return [this.selected_name, this.tab_index]
		}, function(val, oldVal){
			var tab = val[1]
			var name = val[0]
			var self = this
			//console.log(`in ${this.title}, val: ${JSON.stringify(val)}, oldVal: ${JSON.stringify(oldVal)}`)
			if (tab !== -1) {
				this.chart.clear()
				this.mounting = true
				this.tabs[tab].getOptions(name).then(function(res){
					self.mounting = false
					res.animation = false
					res.textStyle = {fontSize:15}
					self.chart.setOption(res)
				})
			}
		})
		this.tab_index = 0

		this.chart = echarts.init(this.$els.chart) 

		var self = this
		$('.leftImg').on('click.resize', function(){
			setTimeout(function(){
				self.chart.resize()
			}, 10)
		})
		//console.dir(this.chart)
	},
	destroyed: function(){
		var self = this
		$('.leftImg').unbind('click.resize')
	}
})

Vue.component('common-data', {
	template: $(common_data_template).html(),
	props: ['admin'],
	data: function(){
		return {
			university: {
				name: "",
				id: "",
			},
			mark_data: [],
			tab_index: 0,
			search_str: "",
			points_data: [],
			requesting: true,
			pdfing: false
		}
	},
	methods: {
		searchNode: function(){
			var zTreeObj = $.fn.zTree.getZTreeObj('tree')
			var find = searchAndScrollToNode_(zTreeObj, this.search_str, 'name')
			if (!find) {
				this.search_str = ""
			}
		},
		convertToPDF: function(){
			if (this.requesting) {
				alert('请读取完数据后进行渲染')
				return
			}

			if (this.pdfing) {
				alert('请等待上一次pdf渲染请求完成')
				return
			}
			
			var self = this
			var title = this.university.name + 
				'-' +
				this.points_data.find(function(point){
					return point.id == self.tab_index
				}).name
			var $pageDom = $('<div><h1>' + 
				 title + 
				'</h1></div>')

			this.$children.forEach(function(child){
				if (child.chart) {
					var echart_instance = child.chart

					var img = new Image()
					echart_instance.setOption({
						toolbox: {
							show: false
						}	
					})
					img.onload = function(){
						echart_instance.setOption({
							toolbox: {
								show: true
							}	
						})
					}
					img.src = echart_instance.getDataURL({
						pixelRatio: 2
					})

					var selectOption = child.selected_name == "" ? "" : '(' + child.selected_name + ')' 
					var $chart = $('<div class="img-container"><h2>' + 
						child.title +
						selectOption + 
						'</h2></div>')
					$chart.append(img)

					$pageDom.append($chart)
				}
			})
			
			var html_string = $pageDom.html()

			self.pdfing = true
			renderToPdf(Promise.resolve($.get("../source/template/image.html")).then(function(raw){
				var i = raw.indexOf('<body>')
				var raw = raw.slice(0, i) + html_string + raw.slice(i)
				i = raw.indexOf('<head>')
				var title_str = '<title>' + 
					title + 
					'</title>'

				return Promise.resolve(raw.slice(0, i) + title_str + raw.slice(i))
			})).then(function(){
				self.pdfing = false
			})
		},
		switchTab: function(point){
			this.tab_index = point.id
		},
		openSearchNameModal: function(){
			openModal($(this.$els.modal))
		},
		closeSearchNameModal: function(save){
			if (save) {
				var zTree = $.fn.zTree.getZTreeObj('tree')
				//console.dir(zTree)
				var selectedNode = zTree.getCheckedNodes()
				//console.dir(selectedNode)
				if (selectedNode[0]) {
					this.university.name = selectedNode[0].name
					this.university.id = selectedNode[0].id
				}
			}
			hideModal($(this.$els.modal))
		},
		initZtree: function(){
			var self = this
			var zTreeObj = $.fn.zTree.init($("#tree"), {
				check: {
					enable: true,
					chkStyle: "radio",
					level: 3,
					radioType: 'all'
				},
				view: {
					showIcon: false,
					showLine: false,
					selectedMulti:false
				},
				callback: {
					onDblClick: function(e, treeNode, node){
						if (!node.nocheck) {
							zTreeObj.checkNode(node, true, true)
							self.closeSearchNameModal(true)
						}
					}
				}
			}, baseTree)

			if (self.admin) {
				var node = zTreeObj.getNodesByFilter(function(node){
					return node.level == 1
				}, true)
				zTreeObj.expandNode(node, true, false)
			}
		},
		getUniversityData: function(){
			var self = this
			getLandEntity().then(function(res){
				var _data = res.result || []
				baseTree = [_data.find(function(item){
					return item.name == "高等院校"
				})]
				baseTree.forEach(function(level1){
					level1.nocheck = true
					level1.children.forEach(function(level2){
						level2.nocheck = true
					})
				})

				self.initZtree()
				
				if (self.admin) {
					var firstUniversity = baseTree[0].children[0].children[0]
					self.university.name = firstUniversity.name
					self.university.id = firstUniversity.id
				} else {
					Promise.resolve($.ajax({
						url: '/GetPowerlevel'
					})).then(function(res){
						if (res.Entity !== null && res.Entity) {
							self.university.id = res.Entity
							var zTreeObj = $.fn.zTree.getZTreeObj('tree')
							var node = zTreeObj.getNodesByParam('id', res.Entity)[0]
							if (!node) {
								return Promise.reject(new Error('用户不属于任一大学单位'))
							} else {
								self.university.name = node.name

								// 展开父节点
								var parentNode = node.getParentNode()
								var stack = []
								while(parentNode) {
									stack.push(parentNode)
									parentNode = parentNode.getParentNode()
								}
								for (var i = stack.length - 1; i >= 0; i--) {
									zTreeObj.expandNode(stack[i], true, false)
								}
							}
						} else {
							return Promise.reject(new Error('用户不属于任一大学单位'))
						}
					}).catch(function(e){
						alert(e.message || '用户不属于任一大学单位')
					})
				}

				Promise.resolve($.ajax({
					url: "/dataAnalyze/type"
				})).then(function(res){
					if (res.state == 0) {
						res.data.forEach(function(item){
							self.points_data.push({
								id: item.id,
								name: item.name
							})
						})
						self.tab_index = res.data[0].id
					} else {
						return Promise.reject(new Error(res.state))
					}
				}).catch(function(e){
					alert('获取指标数据失败')
				})
			}).catch(function(e){
				console.dir(e)
				alert('获取数据失败')
			})
		}
	},
	ready: function(){
		this.getUniversityData()

		this.$watch(function(){
			return [this.university.id, this.tab_index]
		}, function(val){
			var tab_index = val[1]
			if (tab_index === "" || tab_index === 0) {
				return 
			}
			var university = JSON.parse(JSON.stringify(this.university))

			this.mark_data = []
			this.requesting = true
			var self = this

			//self.requesting = true
			if (self.admin) {
				Promise.resolve($.ajax({
					url: "/dataAnalyze/type"
				})).then(function(_res){
					var points = []

					var res = _res.data.find(function(item){
						return item.id == self.tab_index
					})

					res.chart.forEach(function(item){
						points.push(item.code)
					})

					loadPoints(university, self.mark_data, points).then(function(){
						self.requesting = false
					})
				})
			} else {
				Promise.resolve($.ajax({
					url: '/GetPowerlevel'
				})).then(function(res){
					if (res.Entity !== null && res.Entity) {
						return Promise.resolve($.ajax({
							url: "/dataAnalyze/school",
							data: {
								university: res.Entity,
								type: tab_index
							}
						}))
					} else {
						return Promise.reject(new Error('权限限制'))
					}
				}).then(function(res){
					var points = []
					res.data.forEach(function(item){
						points.push(item.chart.code)
					})

					loadPoints(university, self.mark_data, points).then(function(){
						self.requesting = false
					})
				}).catch(function(e){
					alert(e.message || '获取指标数据失败')
				})
			}

		})
	}
})

new Vue({
	el: '#common_data_container'
})
</script>