<link rel="stylesheet" href="../source/css/chart.css">
<style>
	.custom-modal {
		display: none;
		background: rgba(255, 255, 255, 0.5);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: fixed;
		z-index: 4;
	}
	.custom-modal-content {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		border: 1px solid #ccc;
		position: absolute;
		width: 400px;
		padding: 0px 20px;
	}
	.custom-modal-close {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 10px;
		right: 0;
		color: #bdbdbd;
		cursor: pointer;
	}
	.custom-modal-head {
		padding: 10px 0px;
		border-bottom: 2px dashed #ebebeb;
		cursor: move;
	}
	.custom-modal-body {
		margin-left: -20px;
		margin-right: -20px;
		border-bottom: 2px dashed #ebebeb;	
		margin-bottom: 72px;
	}
	.custom-modal-foot {
		position: absolute;
		height: 72px;
		bottom: 0;
		left: 0;
		right: 0;
		cursor: move;
	}
	.custom-modal-foot [data-drag-enter] {
		position:absolute;width:100%;height:100%;
	}
	.custom-modal-foot .button {
		float: right;
		margin-top: 21px;
		margin-right: 20px;
		position: relative;
	}
	.round-border-item {
		line-height: 30px;
		margin: 5px 20px;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
		border: 1px solid #ebebeb;
		padding: 0 10px;
	}
	.round-border-item.selected {
		background: #ffefd5;
	}
	.custom-input {
		width: 100%;
		height: 30px;
		line-height: 30px;
		border: 1px solid #ebebeb;
		padding-left: 5px;
		border-radius: 5px;
	}
	.custom-input:focus {
		border: 1px solid #3cc;
		-moz-box-shadow: 0 0 8px #3cc;
		-webkit-box-shadow: 0 0 8px #3cc;
		box-shadow: 0 0 8px #3cc;
	}
	.custom-search-bar {
		padding:10px 0px;margin:0 20px;border-bottom: 2px dashed #ebebeb;
	}
</style>
<div id="common_data_container">
	<common-data></common-data>	
</div>
<script type="text/x-vue-template" id="common_data_template">
	<div class="changeBarContainer">
		<div class="changeBarBox" style="background-color:#fff;" @click="openSearchNameModal">
			<a class="changeLeft green changeButton" style="width: 100%;border-radius: 6px;text-align: center;padding-left:10px;">{{university.name}}</a>
		</div>
		<div class="changeBarBox convert-button" style="background-color:#fff;float:right;" @click="convertToPDF">
			<a class="changeLeft green changeButton" style="width: 100%;border-radius: 6px;text-align: center;padding-left:10px;">下载为PDF文件</a>
		</div>
	</div>
	<div class="enterBox" v-if="university.id!==''">
		<div class="topTableBox" style="padding-top:0px;">
			<div class="changeBarContainer" style="border-top:none;">
				<div class="changeBarBox changeBarBox6" style="width:100%;text-align:center;">
					<a :class="['changeLeft changeButton', tab_index==1?'green':'']" @click="switchTab(1)">科研数据分析</a>
					<a :class="['changeLeft changeButton', tab_index==2?'green':'']" @click="switchTab(2)">人才数据分析</a>
					<a :class="['changeLeft changeButton', tab_index==3?'green':'']" @click="switchTab(3)">学科数据分析</a>
					<a :class="['changeLeft changeButton', tab_index==4?'green':'']" @click="switchTab(4)">奖励数据分析</a>
					<a :class="['changeLeft changeButton', tab_index==5?'green':'']" @click="switchTab(5)">专利与成果数据分析</a>
					<a :class="['changeLeft changeButton', tab_index==6?'green':'']" @click="switchTab(6)">经费数据分析</a>
				</div>
			</div>
		</div>
	</div>
	
	<mark-chart v-for="mark in mark_data" :tabs.sync="mark.tabs" :title="mark.title"></mark-chart>

	<div class="mask"></div>
	<div class="unitsChoose unitsChoose1">
		<div class="unitsContainer">
			<div class="cancelBtn" v-on:click="closeSearchNameModal">
				<i class="fa fa-close showCollege"></i>
			</div>
			<div class="unitsHeader unitsHeader1">
				<p class="unitsTitle">机构单位选择</p>
			</div>
			<div class="unitsContent">
				<div class="totalModel">
					<div class="leftColumn" style="cursor:default;width:100%;">
						<div class="leftColumnBox" style="height:100%;">
							<div class="leftColumnContent" style="height:100%;">
								<div class="leftColumnProvinces" style="height:100%;">
									<ul id="tree" class="ztree">
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottomBtn">
				<p>
					<a class="button button-green" style="float:right;" v-on:click="closeSearchNameModal">确定</a>
				</p>
			</div>
		</div>
	</div>
</script>

<script type="text/x-vue-template" id="mark_chart_template">
	<div class="tableContent">
		<div class="infoTableBox">
			<div class="infoTableContent"  style="padding-top:10px;">
				<div class="infoTableTop">
					<div class="infoTablePara">
						<span class="topLeft">{{title}}</span>
						<div style="float:right;padding-top:5px;" v-if="tabs[tab_index] && tabs[tab_index].options.length > 0">
							<span style="color:#777;font-size:14px;">{{tabs[tab_index].options_placeholder + " :"}}</span>
							<div class="commonInputBox" style="display:inline-block;">
								<input class="commonput" @focus="openSelectOptionModal" v-model="selected_name">
							</div>
						</div>
					</div>
				</div>
				<div class="changeBarContainer" style="border-top:none;text-align:center;" v-if="tabs.length>1">
					<div class="changeBarBox" style="text-align:center;margin-right:0px;float:none;">
						<a :class="['changeButton changeButtonTab', tab_index==$index?'yellow':'']" v-for="tab in tabs" @click="switchTab($index)">{{tab.name}}</a>
					</div>
				</div>
				<div style="width:100%;height:300px;background:#eee;" v-el:chart></div>
			</div>
		</div>
		<div class="custom-modal" data-drag-modal="false" v-el:modal v-if="tabs[tab_index]">
			<div class="custom-modal-content" style="width:500px;" drag-modal-content>
				<div class="custom-modal-close" @click="closeSelectOptionModal(false)">
					<i class="fa fa-close"></i>
				</div>
				<div class="custom-modal-head" data-drag-enter>
					<span>选择类别</span>
				</div>
				<div class="custom-modal-body">
					<div class="custom-search-bar">
						<div style="display:table-cell;width:100%;">
							<input type="text" class="custom-input" v-model="search_str" @keydown.13="searchOption">
						</div>
						<div style="display:table-cell;width:130px;">
							<a class="button button-green" style="margin-right:0px;margin-left:20px;" @click="searchOption">查询</a>
						</div>
					</div>
					<ul style="height:400px;overflow-y:auto;" v-el:list>
						<li v-for="option in display_options" :class="['round-border-item', option.select?'selected':'']" v-show="option.show" @click="selectOption(option)">{{option.name}}</li>
					</ul>
				</div>
				<div class="custom-modal-foot">
					<div data-drag-enter></div>
					<a class="button button-blue" @click="closeSelectOptionModal(false)">取消</a>
					<a class="button button-green" @click="closeSelectOptionModal(true)">确定</a>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/javascript">

	$(document).on('mousemove', '[data-drag-modal]', function(e){
		var $modal = $(this)
		var dragging = $modal.attr('data-drag-modal')

		if (dragging === 'true') {
			var top = Number.parseFloat($modal.attr('data-drag-top'))
			var left = Number.parseFloat($modal.attr('data-drag-left'))
			var mouseStartY = Number.parseFloat($modal.attr('data-drag-mousey'))
			var mouseStartX = Number.parseFloat($modal.attr('data-drag-mousex'))
			var $content = $modal.children('.custom-modal-content')
			$content.css({
				top: top + e.screenY - mouseStartY,
				left: left  + e.screenX - mouseStartX
			})
		}
	})

	$(document).on('mouseup', '[data-drag-modal]', function(){
		var $modal = $(this)
		$modal.attr('data-drag-modal', false)
	})

	$(document).on('mousedown', '[data-drag-enter]', function(e){
		var $modal = $(this).parents('[data-drag-modal]')
		$modal.attr('data-drag-modal', true)
		var $content = $modal.children('.custom-modal-content')
		var offset = $content.get(0).getBoundingClientRect()
		$modal.attr('data-drag-top', offset.top)
		$modal.attr('data-drag-left', offset.left)
		$modal.attr('data-drag-mousex', e.screenX)
		$modal.attr('data-drag-mousey', e.screenY)
		$content.css({
			top: offset.top,
			left: offset.left,
			transform: "translate(0,0)"
		})
	})

	function openModal($modal){
		$modal.find('[drag-modal-content]').css({
			top: '50%',
			left: '50%',
			transform: 'translate(-50%,-50%)'
		})
		/*$(document.body).css({
			overflow: 'hidden'
		})*/
		$modal.show()
	}

	function hideModal($modal){
		/*$(document.body).css({
			overflow: 'auto'
		})*/
		$modal.hide()
	}

	var baseTree

	var cache = {}

	var curYear = (new Date()).getFullYear()

	var toInt = Number.parseInt

	function makeTenItems(){
		return [undefined,undefined,undefined,
			undefined,undefined,undefined,
			undefined,undefined,undefined,
			undefined]
	}
	function makeYears(){
		var ret = []
		for (var _year = curYear - 9; _year < curYear + 1; _year++) {
			ret.push(_year)
		}
		return ret
	}
	function makeOddYears(){
		var ret = []
		for (var _year = curYear - 19; _year < curYear + 1; _year+=2) {
			ret.push(_year)
		}
		return ret
	}

	function yearToIndex(yearStr){
		var _year = toInt(yearStr)
		return 9 - curYear + _year
	}

	function yearOddToIndex(yearStr){
		var _year = toInt(yearStr)
		return (19 - curYear + _year) / 2 | 0	
	}
	function getMarkData(university, tabIndex, result){
		switch (Number.parseInt(tabIndex)) {
			case 1: loadK(university, tabIndex, result);break; // 科研数据分析
			case 2: loadR(university, tabIndex, result);break; // 人才数据分析
			case 3: loadX(university, tabIndex, result);break; // 学科数据分析
			case 4: loadJ(university, tabIndex, result);break; // 奖励数据分析
			case 5: loadM(university, tabIndex, result);break; // 经费数据分析
			case 6: loadZ(university, tabIndex, result);break; // 专利与成果数据分析
			default: alert('不支持的指标分析');
		}
	}

	function loadK(university, tabIndex, result){
		Promise.all([
			Promise.resolve($.ajax({
				url: '/k001',
				data: {
					entity: university.id,
					error: function(){}
				}
			})).then(function(res){
				console.dir(res)
				var result = res.result || []

				var curYear = Number.parseInt(res.year) || curYear

				var years = makeYears()
				var quantities = makeTenItems()
				var moneyArr = makeTenItems()
				var minMoney = Infinity
				result.forEach(function(item){
					var year = toInt(item[0])
					var quantity = toInt(item[1])
					var money = toInt(item[2])
					var index = 9 - (curYear - year)
					quantities[index] = quantity
					moneyArr[index] = money
					if (minMoney > money) {
						minMoney = money
					}
				})

				var minMoney = Number.isFinite(minMoney) ? minMoney : 0
				//minMoney = (Number.parseInt(minMoney / 100) - 4) * 100
				return Promise.resolve({
					title: '国家自然科学基金总体立项数据分析',
					tabs: [
						{
							name: '总体分析',
							options: [],
							options_placeholder: "",
							getOptions: function(option, chart){
								var options_promise = getJSON('K001')
								return options_promise.then(function(res){
									res.xAxis.data = years
									res.series[0].data = quantities
									res.series[1].data = moneyArr
									res.yAxis[1].min = minMoney
									return Promise.resolve(res)
								})
							}
						}
					]
				})
			}),
			Promise.all([
				Promise.resolve({
					name: '分年份总体分析',
					options: ['近10年', '近5年', '近3年', '近1年'],
					options_placeholder: "最近年份选择",
					getOptions: function(_option, chart){
						var obj = {'近10年':10, '近5年':5, '近3年':3, '近1年':1} 
						return Promise.all([
							getJSON('K002-1'),
							Promise.resolve($.ajax({
								url: "/k002-1",
								data: {
									"entity": university.id,
									"numofyear": obj[_option]
								}
							}))
						]).then(function(resArr){
							var chartOption = resArr[0]
							var res = resArr[1]

							var _result = res.result || []
							var result = _result.map(function(item){
								return {
									department:item[0],
									quantity:toInt(item[1]),
									money:toInt(item[2])
								}
							})
							result.sort(function(depA, depB){
								return depB.quantity - depA.quantity
							})
							var other = result.slice(3).reduce(function(prev, cur){
								prev.quantity += cur.quantity
								prev.money += cur.money
								return prev
							}, {
								department: "其他学部",
								quantity: 0,
								money: 0
							})
							var ret = result.slice(0, 6).concat(other)

							var colors = chartOption.color

							chartOption.legend.data = ret.map(function(item){
								return item.department
							})
							chartOption.series[0].data = ret.map(function(item, index){
								return {
									name: item.department,
									value: item.quantity,
									itemStyle: {
										normal: {
											color: colors[index]
										}
									}
								}
							})
							chartOption.series[1].data = ret.map(function(item, index){
								return {
									name: item.department,
									value: item.money,
									itemStyle: {
										normal: {
											color: colors[index]
										}
									}
								}
							})

							return Promise.resolve(chartOption)
						})
					}
				}), /* K002-1 */
				Promise.resolve({
					name: '分学部分析',
					options: ["数理科学部", "化学科学部","生命科学部","地球科学部","工程与材料科学部","信息科学部","管理科学部","医学科学部","计划局","联合基金领域","办公室","国际合作局"
					],
					options_placeholder: "学部选择",
					getOptions: function(_option, chart){
						return Promise.all([
								getJSON('K002-2'),
								Promise.resolve($.ajax({
									url: "/k002-2",
									data: {
										entity: university.id,
										department: _option
									}
								}))
							]).then(function(resArr){
								var chartOption = resArr[0]
								var res = resArr[1].result || []

								var quantities = makeTenItems()
								var moneyArr = makeTenItems()
								res.forEach(function(item){
									var index = yearToIndex(item[0])
									var quantity = toInt(item[1])
									var money = toInt(item[2])
									quantities[index] = quantity
									moneyArr[index] = money
								})
								chartOption.xAxis.data = makeYears()
								chartOption.series[0].data = quantities
								chartOption.series[1].data = moneyArr
								return Promise.resolve(chartOption)
							})
					}
				}) /* K002-2 */
			]).then(function(tabs){
				return Promise.resolve({
					title: '国家自然科学基金分学部数据分析',
					tabs: tabs
				})
			}),
			Promise.resolve($.ajax({
				url: "/LandNSSFtype"
			})).then(function(_options){
				var options = _options.result || []
				options.unshift('总体')
				return Promise.resolve({
					title: '国家社科基金总体立项数据分析',
					tabs: [
						{
							name: '',
							options: options,
							options_placeholder: "选择类别",
							getOptions: function(_option, chart){
								return Promise.all([
									getJSON('K003'),
									Promise.resolve($.ajax({
										url: "/k003",
										data: _option == '总体' ? {
											entity: university.id
										} : {
											entity: university.id,
											type: _option
										}
									}))
								]).then(function(resArr){
									var chartOption = resArr[0]
									var res = resArr[1].result || []

									chartOption.xAxis.data = makeYears()
									var quantities = makeTenItems()
									res.forEach(function(item) {
										var index = yearToIndex(item[0])
										quantities[index] = toInt(item[1])
									})
									chartOption.series[0].data = quantities
									return Promise.resolve(chartOption)
								})
							}
						}
					]
				})
			}),
			Promise.all([
				Promise.resolve($.ajax({
					url: '/LandNSSFsubject'
				})).then(function(subjects){
					var options = subjects.result || []
					options.unshift('全部')
					return Promise.resolve({
						name: '分学科立项数分析',
						options: options,
						options_placeholder: "选择学科",
						getOptions: function(option, chart){
							return Promise.all([
								getJSON('K004-1'),
								Promise.resolve($.ajax({
									url: '/k004-1',
									data: option == '全部' ? {
										entity: university.id
									} : {
										entity: university.id,
										subject: option
									}
								}))
							]).then(function(resArr){
								var chartOption = resArr[0]
								var res = resArr[1].result || []

								chartOption.yAxis.data = makeYears()

								var quantities = makeTenItems()
								res.forEach(function(item){
									var index = yearToIndex(item[0])
									quantities[index] = toInt(item[1])
								})
								chartOption.series[0].data.forEach(function(item, index){
									item.value = quantities[index]
								})
								return Promise.resolve(chartOption)
							})
						}
					})
				}),
				Promise.resolve({
					name: '分学科占比分析',
					options: ['近10年', '近5年', '近3年', '近1年'],
					options_placeholder: "选择学科",
					getOptions: function(option, chart){
						var object = { '近10年': 10,'近5年': 5,'近3年': 3,'近1年': 1 }
						return Promise.all([
							getJSON('K004-2'),
							Promise.resolve($.ajax({
								url: "/K004-2",
								data: {
									entity: university.id,
									numofyear: object[option]
								}
							}))
						]).then(function(resArr){
							var chartOption = resArr[0]
							var _res = resArr[1].result || []

							var otherIndex = -1
							var res = _res.map(function(item, index){
								var subject = item[0]
								if (subject === null) {
									otherIndex = index
									subject = "其他学科"
								}
								return {
									name: subject,
									value: toInt(item[1])
								}
							})
							var otherSubject = null
							if (otherIndex !== -1) {
								otherSubject = res.splice(otherIndex, 1)[0]
							} else {
								otherSubject = {
									name: "其他学科",
									value: 0
								}
							}

							res.sort(function(itemA, itemB) {
								return itemB.value - itemA.value
							})

							var otherSubject = res.slice(7).reduce(function(prev, item){
								prev.value += item.value
								return prev
							}, otherSubject)
							
							var ret = res.slice(0, 7).concat(otherSubject)

							chartOption.legend.data = ret.map(function(item){
								return item.subject
							})

							chartOption.yAxis[0].data = chartOption.legend.data 
							chartOption.series[0].data = ret
							//console.dir(ret)
							chartOption.series[1].data = chartOption.series[0].data.map(function(item, index){
								item.itemStyle = {
									normal: {
									    color: chartOption.color[index]
									}
								}
								return item
							})

							return Promise.resolve(chartOption)
						})
					}
				})
			]).then(function(tabs){
				return Promise.resolve({
					title: '国家社科基金学科数据分析',
					tabs: tabs
				})
			})
		])
		.then(function(formattedData){
			formattedData.forEach(function(item){
				result.push(item)
			})
		})
	}

	function loadR(university, tabIndex, result) {
		Promise.all([
				Promise.all([
					Promise.resolve($.ajax({
						url: '/R001-1',
						data: {
							entity: university.id
						}
					})).then(function(res){
						var engineeringAcademy = res.EngineeringAcademy || []
						var sciencesAcademy = res.SciencesAcademy || []
						var years = makeOddYears()
						var eA = makeTenItems()
						var sA = makeTenItems()

						engineeringAcademy.forEach(function(item){
							var index = yearOddToIndex(item[0])
							var persons = toInt(item[1])
							eA[index] = persons
						})
						sciencesAcademy.forEach(function(item){
							var index = yearOddToIndex(item[0])
							var persons = toInt(item[1])
							sA[index] = persons
						})

						return Promise.resolve({
							name: '两院院士数据分析',
							options: [],
							options_placeholder: "",
							getOptions: function(option, chart){
								var options_promise = getJSON('R001-1')
								return options_promise.then(function(res){
									res.xAxis.data = years
									res.series[0].data = sA
									res.series[1].data = eA
									return Promise.resolve(res)
								})
							}
						})
					}),
					Promise.resolve($.ajax({
						url: '/R001-2',
						data: {
							entity: university.id
						}
					})).then(function(res){
						var outstandingYouth = res.OutstandingYouth || []
						var changJiangScholar = res.ChangJiangScholar || []
						var years = makeYears()
						var oY = makeTenItems()
						var cS = makeTenItems()

						outstandingYouth.forEach(function(item){
							var index = yearToIndex(item[0])
							var persons = toInt(item[1])
							oY[index] = persons
						})
						changJiangScholar.forEach(function(item){
							var index = yearToIndex(item[0])
							var persons = toInt(item[1])
							cS[index] = persons
						})

						return Promise.resolve({
							name: '杰青&长江数据分析',
							options: [],
							options_placeholder: "",
							getOptions: function(option, chart){
								var options_promise = getJSON('R001-2')
								return options_promise.then(function(res){
									res.xAxis.data = years
									res.series[0].data = oY
									res.series[1].data = cS
									return Promise.resolve(res)
								})
							}
						})
					}),
					Promise.resolve($.ajax({
						url: '/R001-3',
						data: {
							entity: university.id
						}
					})).then(function(res){
						var excellentYouths = res.ExcellentYouths || []
						var thousandsYouths = res.ThousandsYouths || []
						var years = makeYears()
						var eY = makeTenItems()
						var tY = makeTenItems()

						excellentYouths.forEach(function(item){
							var index = yearToIndex(item[0])
							var persons = toInt(item[1])
							eY[index] = persons
						})
						thousandsYouths.forEach(function(item){
							var index = yearToIndex(item[0])
							var persons = toInt(item[1])
							tY[index] = persons
						})

						return Promise.resolve({
							name: '优青&青千数据分析',
							options: [],
							options_placeholder: "",
							getOptions: function(option, chart){
								var options_promise = getJSON('R001-2')
								return options_promise.then(function(res){
									res.xAxis.data = years
									res.series[0].data = eY
									res.series[1].data = tY
									return Promise.resolve(res)
								})
							}
						})
					})
				]).then(function(tabs){
					return Promise.resolve({
						title: '人才数据分析',
						tabs: tabs
					})
				})
			]).then(function(formattedData){
				formattedData.forEach(function(item){
					result.push(item)
				})
			})
	}

	function loadJ(university, tabIndex, result) {
		Promise.resolve([
				{
					title: '奖项数据分析',
					tabs: [
						{
							name: '国家三大奖数据分析',
							options: ['全部', '第一单位'],
							options_placeholder: "选择单位",
							getOptions: function(option, chart){
								var options_promise = getJSON('J001-1')
								return options_promise.then(function(res){
									res.xAxis.data = [
										"2006年","2007年","2008年","2009年","2010年","2011年","2012年","2013年","2014年","2015年"
									]
									res.series[0].data = option === "全部" ? 
										[ 6,5,4,4,6,5,4,4,3,3 ]:
										[ 6,5,4,4,6,5,4,4,3,3 ].map(function(item){return item-2}) 
									res.series[1].data = option === "全部" ? 
										[12,8,4,6,12,8,4,6,5,6]:
										[12,8,4,6,12,8,4,6,5,6].map(function(item){return item-1}) 
									res.series[2].data = option === "全部" ?
										[7,2,5,2,7,2,5,2,3,2]:
										[7,2,5,2,7,2,5,2,3,2].map(function(item){return item-2})
									res.series[3].data = option === "全部" ?
										[25,15,13,12,25,15,13,12,11,11]:
										[25,15,13,12,25,15,13,12,11,11].map(function(item){return item-5})
									return Promise.resolve(res)
								})
							}
						},
						{
							name: '教育部科技奖数据分析',
							options: ['全部', '第一单位'],
							options_placeholder: "选择单位",
							getOptions: function(option, chart){
								var options_promise = getJSON('J001-2')
								return options_promise.then(function(res){
									res.xAxis.data = [
										"2006年","2007年","2008年","2009年","2010年","2011年","2012年","2013年","2014年","2015年"
									]
									res.series[0].data = option === "全部" ? 
										[ 6,5,4,4,6,5,4,4,3,3 ]:
										[ 6,5,4,4,6,5,4,4,3,3 ].map(function(item){return item-2}) 
									res.series[1].data = option === "全部" ? 
										[12,8,4,6,12,8,4,6,5,6]:
										[12,8,4,6,12,8,4,6,5,6].map(function(item){return item-1}) 
									res.series[2].data = option === "全部" ?
										[7,2,5,2,7,2,5,2,3,2]:
										[7,2,5,2,7,2,5,2,3,2].map(function(item){return item-2})
									res.series[3].data = [0,0,0,1,0,0,0,1,0,0]
									res.series[4].data = [0,0,1,0,0,0,1,0,0,0]
									res.series[5].data = option === "全部" ?
										[25,15,13,12,25,15,13,12,11,11]:
										[25,15,13,12,25,15,13,12,11,11].map(function(item){return item-5})
									return Promise.resolve(res)
								})
							}
						}
					]
				},
				{
					title: '国家教学成果奖数据分析',
					tabs: [
						{
							name: '',
							options: [],
							options_placeholder: "",
							getOptions: function(option, chart){
								var options_promise = getJSON('J002')
								return options_promise.then(function(res){
									res.xAxis.data = [
										"2001年","2005年","2009年","2014年"
									]
									res.series[0].data = [ 5,4,4,3 ] 
									res.series[1].data = [ 6,4,6,5 ]
									res.series[2].data = [ 2,5,2,3 ]
									res.series[3].data = [ 15,13,12,11 ]
									return Promise.resolve(res)
								})
							}
						}
					]
				}
			]).then(function(formattedData){
				formattedData.forEach(function(item){
					result.push(item)
				})
			})
	}

	function loadX(university, tabIndex, result) {
		Promise.all([
				Promise.resolve($.ajax({
					url: "/X001",
					data: {
						entity: university.id
					}
				})).then(function(res){
					var result = res.result || [[], [], []]
					var turn_one = result[0]
					var turn_two = result[1]
					var turn_three = result[2]

					return {
						title: '学科数据分析',
						tabs: [
							{
								name: '学科数据分析',
								options: [],
								options_placeholder: "",
								getOptions: function(option, chart) {
									var options_promise = getJSON('X001')
									return options_promise.then(function(res){
										res.xAxis.data = [
											"TOP1", "TOP3", "TOP5", "TOP10", "TOP20", "TOP50"
										]
										res.series[0].data = turn_one 
										res.series[1].data = turn_two
										res.series[2].data = turn_three
										return Promise.resolve(res)
									})
								}
							}
						]
					}
				})
			]).then(function(formattedData){
				formattedData.forEach(function(item){
					result.push(item)
				})
			})
	}
	function loadM(university, tabIndex, result) {
		Promise.resolve([
				{
					title: '年度科技经费总体拨入与支出数据分析',
					tabs: [
						{
							name: '',
							options: [],
							options_placeholder: "",
							getOptions: function(option, chart){
									return Promise.resolve({})
							}
						}
					]
				}
			]).then(function(formattedData){
				formattedData.forEach(function(item){
					result.push(item)
				})
			})
	}
	function loadZ(university, tabIndex, result) {
		Promise.resolve([
				{
					title: '空数据',
					tabs: [
						{
							name: '',
							options: [],
							options_placeholder: "",
							getOptions: function(option, chart){
									return Promise.resolve({})
							}
						}
					]
				}
			]).then(function(formattedData){
				formattedData.forEach(function(item){
					result.push(item)
				})
			})
	}


	var chartId = 0

	Vue.component('mark-chart', {
		template: $(mark_chart_template).html(),
		props: ['title', 'tabs'],
		data: function(){
			return {
				tab_index: -1,
				search_str: '',
				selected_order: -1,
				selected_name: "",
				selected_order_pre: {
					order: -1,
					name: '',
					show: true,
					select: true
				},
				display_options: [],
				mounting: false
			}
		},
		watch: {
			'tab_index': function(val){
				if (val !== -1) {
					this.display_options = this.tabs[val].options.map(function(item, order){
						return {
							order: order,
							name: item,
							show: true,
							select: false
						}
					})
					if (this.display_options.length > 0) {
						var firstItem = this.display_options[0]
						this.selected_order = firstItem.order
						this.selected_name = firstItem.name
						this.selected_order_pre.name = firstItem.name
						this.selected_order_pre.order = firstItem.order
						firstItem.select = true
					}
				}
			}
		},
		methods: {
			switchTab: function(index){
				if (!this.mounting) {
					this.tab_index = index
				}
			},
			searchOption: function(){
				var str = this.search_str
				this.display_options.forEach(function(item){
					if (item.name.indexOf(str) !== -1) {
						item.show = true
					} else {
						item.show = false
					}
				})
			},
			respondToSelect: function(order){
				var oldOrder = this.selected_order_pre.order
				if (oldOrder !== -1) {
					this.display_options[oldOrder].select = false
				}
				this.selected_order_pre.order = order
				this.display_options[order].select = true
			},
			selectOption: function(option){
				this.respondToSelect(option.order)

				this.selected_order_pre.name = option.name
			},
			closeSelectOptionModal: function(save){
				if (save) {
					this.selected_order = this.selected_order_pre.order
					this.selected_name = this.selected_order_pre.name
				} else {
					this.respondToSelect(this.selected_order)
					this.selected_order_pre.order = this.selected_order
					this.selected_order_pre.name = this.selected_name
				}
				hideModal($(this.$els.modal))
			},
			openSelectOptionModal: function(){
				if (!this.mounting) {
					openModal($(this.$els.modal))
				}
			}
		},
		ready: function(){
			this.$watch(function(){
				return [this.selected_name, this.tab_index]
			}, function(val, oldVal){
				var tab = val[1]
				var name = val[0]
				var self = this
				//console.log(`in ${this.title}, val: ${JSON.stringify(val)}, oldVal: ${JSON.stringify(oldVal)}`)
				if (tab !== -1) {
					this.chart.clear()
					this.mounting = true
					this.tabs[tab].getOptions(name).then(function(res){
						self.mounting = false
						self.chart.setOption(res)
					})
				}
			})
			this.tab_index = 0
			this.chart = echarts.init(this.$els.chart) 
			//console.dir(this.chart)
		}
	})

	Vue.component('common-data', {
		template: $(common_data_template).html(),
		data: function(){
			return {
				university: {
					name: "",
					id: "",
				},
				mark_data: [],
				tab_index: 0
			}
		},
		methods: {
			convertToPDF: function(){
				var $pageDom = $('.rightBox').clone()
				var originEchart = $('.rightBox').find('[_echarts_instance_]')
				var cloneEcharts = $pageDom.find('[_echarts_instance_]')
				originEchart.each(function(index, dom){
					var echart_instance = echarts.getInstanceByDom(dom)
					var cloneEchart = cloneEcharts.eq(index)
					cloneEchart.children().remove()
					var img = new Image()
					img.style = "width:100%;height:100%;background:#ccc;"
					cloneEchart.append(img)
				})
				$pageDom.find('link, style, script, .mask, .unitsChoose, .custom-modal, .topBar, .convert-button').remove()
				
				console.dir($pageDom.html())
			},
			switchTab: function(index){
				this.tab_index = index
			},
			openSearchNameModal: function(){
				$('.mask').show()
				popAlertBox('.unitsChoose1')
				dragBox('.unitsChoose1')
			},
			closeSearchNameModal: function(){
				var zTree = $.fn.zTree.getZTreeObj('tree')
				//console.dir(zTree)
				var selectedNode = zTree.getSelectedNodes()
				if (selectedNode[0]) {
					this.university.name = selectedNode[0].name
					this.university.id = selectedNode[0].id
				}
				$('.mask').hide()
				$('.unitsChoose1').hide()
			},
			initZtree: function(){
				var self = this
				$.fn.zTree.init($("#tree"), {
					view: {
						showIcon: false
					},
					callback: {
						beforeClick: function(treeId, treeNode){
							if (treeNode.id === undefined) {
								return false
							}
							return true
						}
					}
				}, baseTree)
			},
			getUniversityData: function(){
				var self = this
				Promise.resolve($.ajax({
					url: '/LandEntity',
					error: function(){}
				})).then(function(res){
					baseTree = transferToTree(res.result)
					self.initZtree()
					var firstUniversity = baseTree[0].children[0]
					self.university.name = firstUniversity.name
					self.university.id = firstUniversity.id
					self.tab_index = 1
				}).catch(function(e){
					console.dir(e)
					alert('获取数据失败')
				})
			}
		},
		ready: function(){
			this.getUniversityData()

			this.$watch(function(){
				return [this.university.id, this.tab_index]
			}, function(val){
				var tab_index = val[1]
				if (tab_index === "" || tab_index === 0) {
					return 
				}
				var university = JSON.parse(JSON.stringify(this.university))

				this.mark_data = []
				getMarkData(university, tab_index, this.mark_data)
			})
		}
	})

	new Vue({
		el: '#common_data_container'
	})

	function transferToTree(weirdData){
		var ret = []
		weirdData.forEach(function(weirdItem){
			var children = []
			weirdItem.slice(1).forEach(function(weirdUni){
				children.push({
					name: weirdUni[0],
					id: weirdUni[1]
				})
			})
			ret.push({
				name: weirdItem[0],
				children: children
			})
		})
		return ret
	}

	var _chartOption = {}
	function getJSON(json_name, notDefault){
		if (notDefault === undefined) {
			json_name = '/qingta/source/chart-options/' + json_name + '.json'
		}

		if (_chartOption[json_name]) {
			return Promise.resolve(_chartOption[json_name])
		} else {
			return Promise.resolve($.getJSON(json_name)).then(function(res){
				_chartOption[json_name] = res 
				return Promise.resolve(res)
			}).catch(function(e){
				return Promise.reject
			})
		}
	}
</script>