@import url('init.less');
.topBanner{
	width: 100%;
	// height: 300px;
	.topContent,.topContent_1,.topContent_2{
		padding: 20px 0;
		width: 100%;
		height: 100%;
		background-color: #57d9e9;
		.leftContent{
			margin-top: 20px;
			padding-left: 100px;
			width: 65%;
			float: left;
			.topTitle{
				font-size: 30px;
				color: #fff;
				margin-bottom: 40px;
			}
			.topPara{
				font-size: 16px;
				color: #fff;
				line-height: 30px;
				margin-bottom: 30px;
			}
			.topBtn{
				display: block;
				width: 100px;
				height: 30px;
				line-height: 30px;
				color: #fff;
				border-radius: 5px;
				position: relative;
				background-color: #94e7f1;
				padding-left: 10px;
				.arrowIcon{
					display: block;
					position: absolute;
					right: 8px;
					bottom: 5px;
					line-height: 30px;
					width: 20px;
				}
			}
			.topBtn_2{
				background-color: #6b7e91;
				color: #798c9f;
			}
		}
		.rightContent{
			width: 33%;
			float: left;
			margin-top: 30px;
			margin-right: 0px;
			.topImg{
				width: 220px;
				display: block;
				margin-left: 100px;
			}
			.topImg_2{
				margin: 0;
				width: 100%;
			}
		}
	}
	.topContent_2{
		padding-bottom: 40px;
		background-color: #00264d;
	}
}
.containerBox{
	width: 100%;
	.contentBox{
		width: 100%;
		padding: 0 100px;
		.contentBar{
			border-bottom: 2px dashed #ebebeb;
			width: 100%;
			padding:40px 0 30px;
			.iconBox{
				width: 33.3%;
				padding: 0 20px;
				height: 265px;
				float: left;
				.showIcon{
					display: block;
					width: 110px;
					height: 110px;
					margin:auto;
					margin-bottom: 20px;
				}
				.iconTitle{
					text-align: center;
					font-size: 18px;
					color:#868686;
					margin-bottom: 30px;
				}
				.iconPara{
					text-align: center;
					font-size: 14px;
					color: #afafaf;
				}
			}
			.after;
		}
	}
	.bottomBox{
		width: 350px;
		margin: auto;
		padding:40px 0 50px;
		.bottomIcon{
			display: block;
			width: 70px;
			padding-bottom: 40px;
			margin: auto;
		}
		.bottomPara{
			padding-bottom: 50px;
			color: #8689a4;
			font-size: 20px;
			text-align: center;
		}
		.bottomBtn{
			display: block;
			color: #fff;
			width: 160px;
			height: 40px;
			border-bottom-right-radius: 20px;
		    border-bottom-left-radius: 20px;
		    border-top-left-radius: 20px;
		    border-top-right-radius: 20px;
			line-height: 40px;
			float: left;
			font-size: 16px;
			text-align: center;
		}
		.leftBtn{
			background-color: #45d7e7;
			margin-right: 30px;
		}
		.rightBtn{
			background-color: #00cc99;
		}
		.after;
	}
}
.slick-dots{
	bottom: 10px;
}
.slick-dots li.slick-active button:before{
	color: #fff;
}