.after:after {
  display: block;
  content: '';
  clear: both;
}
.before:before {
  display: block;
  content: '';
  clear: both;
}
.veryCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.verticalCenter {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.horizontalCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mutilLineVerticalCenter {
  font-size: 0;
}
.mutilLineVerticalCenter:before {
  content: '123';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.mutilLineVerticalCenter a {
  display: inline-block;
  vertical-align: middle;
}
.full {
  display: block;
  width: 100%;
  height: 100%;
}
.viewTransitionSet {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
.topBanner {
  width: 100%;
}
.topBanner .topContent,
.topBanner .topContent_1,
.topBanner .topContent_2 {
  width: 100%;
  height: 100%;
  background-color: #59d9ee;
  height: 285px;
}
.topBanner .topContent .picContent,
.topBanner .topContent_1 .picContent,
.topBanner .topContent_2 .picContent {
  display: block;
  width: 100% !important;
  height: 100% !important;
  background-repeat: no-repeat;
  background-size: 1200px 285px;
  background-position: center;
}
.topBanner .topContent .picContent_1,
.topBanner .topContent_1 .picContent_1,
.topBanner .topContent_2 .picContent_1 {
  background-image: url('../img/banner1.png');
}
.topBanner .topContent .picContent_2,
.topBanner .topContent_1 .picContent_2,
.topBanner .topContent_2 .picContent_2 {
  background-image: url('../img/banner2.png');
}
.topBanner .topContent .leftContent,
.topBanner .topContent_1 .leftContent,
.topBanner .topContent_2 .leftContent {
  padding-left: 15%;
  width: 55%;
  float: left;
}
.topBanner .topContent .leftContent .topTitle,
.topBanner .topContent_1 .leftContent .topTitle,
.topBanner .topContent_2 .leftContent .topTitle {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2%;
  margin-top: 4%;
}
.topBanner .topContent .leftContent .topPara,
.topBanner .topContent_1 .leftContent .topPara,
.topBanner .topContent_2 .leftContent .topPara {
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  margin-bottom: 3%;
}
.topBanner .topContent .leftContent .topBtn,
.topBanner .topContent_1 .leftContent .topBtn,
.topBanner .topContent_2 .leftContent .topBtn {
  display: block;
  width: 115px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 5px;
  position: relative;
  background-color: #94e7f1;
  padding-left: 2%;
  margin-bottom: 2%;
  font-size: 14px;
}
.topBanner .topContent .leftContent .topBtn .arrowIcon,
.topBanner .topContent_1 .leftContent .topBtn .arrowIcon,
.topBanner .topContent_2 .leftContent .topBtn .arrowIcon {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 7px;
  line-height: 45px;
  width: 25px;
  margin-left: 10%;
}
.topBanner .topContent .leftContent .topBtn_2,
.topBanner .topContent_1 .leftContent .topBtn_2,
.topBanner .topContent_2 .leftContent .topBtn_2 {
  background: rgba(107, 126, 145, 0.4);
  color: #fff;
}
.topBanner .topContent .rightContent,
.topBanner .topContent_1 .rightContent,
.topBanner .topContent_2 .rightContent {
  margin-top: 0.75%;
  width: 35%;
  float: left;
  margin-right: 0px;
}
.topBanner .topContent .rightContent .topImg,
.topBanner .topContent_1 .rightContent .topImg,
.topBanner .topContent_2 .rightContent .topImg {
  width: 70%;
  display: block;
  margin-left: 100px;
}
.topBanner .topContent .rightContent .topImg_2,
.topBanner .topContent_1 .rightContent .topImg_2,
.topBanner .topContent_2 .rightContent .topImg_2 {
  margin: 0;
  width: 90%;
}
.containerBox {
  width: 100%;
}
.containerBox .contentBox {
  width: 100%;
  padding: 0 15%;
}
.containerBox .contentBox .contentBar {
  border-bottom: 2px dashed #ebebeb;
  width: 100%;
  padding: 40px 0 30px;
}
.containerBox .contentBox .contentBar .iconBox {
  width: 33%;
  padding: 0 4%;
  height: 265px;
  float: left;
}
.containerBox .contentBox .contentBar .iconBox .showIcon {
  display: block;
  width: 110px;
  height: 110px;
  margin: auto;
  margin-bottom: 20px;
}
.containerBox .contentBox .contentBar .iconBox .iconTitle {
  text-align: center;
  font-size: 18px;
  color: #868686;
  margin-bottom: 30px;
}
.containerBox .contentBox .contentBar .iconBox .iconPara {
  text-align: center;
  font-size: 14px;
  color: #afafaf;
}
.containerBox .contentBox .contentBar:after {
  display: block;
  content: '';
  clear: both;
}
.containerBox .bottomBox {
  width: 420px;
  margin: auto;
  padding: 40px 0 50px;
}
.containerBox .bottomBox .bottomIcon {
  display: block;
  width: 70px;
  padding-bottom: 40px;
  margin: auto;
}
.containerBox .bottomBox .bottomPara {
  padding-bottom: 50px;
  color: #8689a4;
  font-size: 20px;
  text-align: center;
}
.containerBox .bottomBox .bottomBtn {
  display: block;
  color: #fff;
  width: 120px;
  height: 40px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  line-height: 40px;
  float: left;
  font-size: 16px;
  text-align: center;
}
.containerBox .bottomBox .leftBtn {
  background-color: #45d7e7;
  margin-right: 30px;
}
.containerBox .bottomBox .middleBtn {
  background-color: #59f;
}
.containerBox .bottomBox .rightBtn {
  background-color: #00cc99;
}
.containerBox .bottomBox:after {
  display: block;
  content: '';
  clear: both;
}
.slick-dots {
  bottom: 10px;
}
.slick-dots li.slick-active button:before {
  color: #fff;
}
.slick-dots li {
  margin: 0;
}
