@import url("init.less");
ul,li{
	list-style:none;
}
body{
	overflow-x: auto;
}
.mainContainer{
	width:100%;
	.changeBarContainer{
		.changeBarBox{
			display: inline-block;
			background-color: #c7c7c7;
			height: 36px;
			line-height: 36px;
			color: #fff;
			margin: 15px;
			border-radius: 6px;
			margin-left: 0;
			margin-bottom: 10px;
			.changeButton{
				padding: 0 10px;
				width: 50%;
				display: block;
				float: left;
				height: inherit;
			}
			.changeLeft{
				padding-left: 20px;
				border-top-left-radius: 6px;
				border-bottom-left-radius: 6px;
			}
			.changeRight{
				padding-right: 20px;
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
			}
			.after;
			.green{
				background-color: #00da96;
			}
		}
	}
	.rightMinBtn{
		display: block;
		color:#fff;
		height: 30px;
		line-height: 30px;
		// width: 100px;
		border-radius: 3px;
		text-align: center;
	}
	.searchBtn{
		background-color:#00db97;
	}
	.resetBtn{
		background-color: #4ec1ff;
	}
	.leftBox{
		z-index:2;
		position: relative;
		background-color: #595e6a;
		width:240px;
		height:auto;
		float: left;
		.leftList{
			.topItem{
				height:45px;
				line-height: 45px;
				color:#fff;
				background-color: #414750;
				position: relative;
				padding-left:40px;
				.leftImg{
					text-align: center;
					width: 40px;
					position: absolute;
					top:0;
					left:0;
					.leftBtn{
						font-size: 23px;
					}
				}
			}
			.section{
				.leftImg{
					text-align: center;
					width: 40px;
					position: absolute;
					left:0;
					height:45px;
					line-height: 45px;
					z-index: 1;
					color:#fff;
					.leftBtn{
						font-size: 23px;
					}
				}
				.sectionList{
					position: relative;
					.downBtn{
						cursor: pointer;
						height:45px;
						line-height: 45px;
						color:#fff;
						background-color: #4d505b;
						position: relative;
						padding-left:40px;
						.rec{
							display: none;
						}
						.downflag{
							position: absolute;
							right:0px;
							bottom:0;
							height:45px;
							line-height: 45px;
							width:40px;
							text-align: center;
						}
					}
					.btnColor{
						background-color: #4d505b;
					}
					.downContent{
						display: none;
						background-color: #595e6a;
						.downList>li{
							height:40px;
							line-height: 40px;
							color:#fff;
						}
						.downList{
							color:#fff;
							.linka{
								display: block;
								padding-left:40px;
								height:45px;
								line-height: 45px;
							}
							.linka:hover{
								cursor: pointer;
								background-color: #414750;
								color:#3cc;
							}
						}

					}
					.show{
						display: block;
					}
				}
			}

		}

	}
	.small{
		width:40px;
		.leftList{
			.topItem>span{
				display: none;
			}
			.section{
				height:45px;
				width:100%;
				position: relative;
				.leftImg{
					display: block;
					text-align: center;
					width: 40px;
					position: absolute;
					top:0;
					left:0px;
					height:45px;
					line-height: 45px;
					z-index: 1;
					.leftBtn{
						font-size: 23px;
					}
				}
				.sectionList{
					display: none;
					position: absolute;
					top:0;
					left:40px;
					width:240px;
					height:auto;
					.downBtn{
						background-color: #3cc;
						display: relative;
						.rec{
							display: block;
							position: absolute;
							border-right:6px solid #3cc;
							border-top:6px solid transparent;
							border-bottom:6px solid transparent;
							top:18px;
							left:-6px;
						}
						.downflag{
							display: none;
						}
					}
					.downContent{
						background-color: #4d505b;
						display: block;
					}
				}
			}
			.section:hover .sectionList{
					display: block;
				}
		}
	}
	.rightBox{
		z-index: 1;
		width:100%;
		overflow: visible;
		padding-left:240px;
		.topBar{
			height: 45px;
			line-height: 45px;
			background-color: #3cc;
			padding-left:40px;
			position: relative;
			color:#fff;
			.leftImg{
				width:40px;
				text-align: center;
				position: absolute;
				top:0;
				left:0;
				.showBtn{
					font-size: 23px;
				}
			}
			.leftImg:hover{
				background-color: #fff;
				color:#3cc;
			}
		}
		.rightContent{
			min-width: 1000px;
			padding:0 20px;
			.enterBox{
				width: 100%;				
				height: auto;
				overflow: hidden;
				padding: 10px;
				border: 1px dashed #bdbdbd;
				.topTable{
					width: 100%;
					padding: 20px;
					table-layout: fixed;
					border-collapse: collapse;
					td,th{
						padding:5px 5px;
					}
					td{
						label{
							padding-right: 10px;
							.radioInput{
								display: inline-block;
								vertical-align: middle;
							}
						}
						.label1{
							
						}
						.label2{
							
						}
						
						span{
							display: inline-block;
							height: 30px;
							line-height: 30px;
						}
						// .commonselect{
						// 	display: inline-block;
						// 	width: 150px;
						// 	overflow: hidden;
						// 	height: 30px;
						// 	position: relative;
						// 	border:1px solid #ccc;
						// 	.selBox{
						// 		padding-left: 10px;
						// 		position: absolute;
						// 		left: -1px;
						// 		width: 150px;
						// 		height: 28px;
						// 		border:none;
						// 		line-height: 30px;
						// 	}
						// 	// .selBtn{
						// 	// 	position: absolute;
						// 	// 	right:0px;
						// 	// 	top:0;
						// 	// 	height: 30px;
						// 	// 	line-height: 30px;
						// 	// 	color:#999;
						// 	// 	width: 30px;
						// 	// 	text-align: center;
						// 	// }
						// 	&:after {
						// 	    position: absolute;
						// 	    right: 8px;
						// 	    top: 7px;
						// 	    display: inline-block;
						// 	    font: normal normal normal 14px/1 FontAwesome;
						// 	    font-size: inherit;
						// 	    text-rendering: auto;
						// 	    -webkit-font-smoothing: antialiased;
						// 	    -moz-osx-font-smoothing: grayscale;
						// 	    content: "\f0d7";
						// 	}
						// }
						.downTxt{
							background-color: #fff;
							z-index: 1;
							display: none;
							position: absolute;
							top:30px;
							left: 0;
							width: 150px;
							border:1px solid #ccc;
							.downTxtItem{
								padding-left: 10px;
								height: 30px;
								line-height: 30px;
								//border-bottom:1px solid #ccc;
							}
							.downTxtItem:hover{
								background-color: #3cc;
								color:#fff;
							}

						}
						.showTxt{
							display: block;
							border-top:none;
						}
					}
					.commonInputBox{
						position: relative;	
						width: 150px;					
						.commonput{
							padding-right:30px;
							border:none;
							width: 100%;
							height: 30px;
							line-height: 30px;
							border:1px solid #bdbdbd;
							padding-left: 5px;
							border-radius: 5px;
						}
						.commonput:focus{
							border:1px solid #1e90ff;
							-moz-box-shadow: 1px 1px 5px #1e90ff; 
							-webkit-box-shadow: 1px 1px 5px #1e90ff; 
							box-shadow: 1px 1px 5px #1e90ff;
						}
						.showDetailBox{
							position: absolute;
							top: 0px;
							right: 0px;
							width: 30px;
							height: 30px;
							line-height: 32px;
							.showDetail{
								cursor: pointer;
								color:#ebebeb;
								font-size: 18px;
							}
							.showDetail:hover{
								color:#3cc;
							}
						}
					}
					.commonput{
						border:none;
						width: 150px;
						max-width: 100%;
						height: 30px;
						line-height: 30px;
						border:1px solid #bdbdbd;
						padding-left: 5px;
						border-radius: 5px;
						padding-right: 5px;
					}
					.commonput:focus{
						border:1px solid #1e90ff;
						-moz-box-shadow: 1px 1px 5px #1e90ff; 
						-webkit-box-shadow: 1px 1px 5px #1e90ff; 
						box-shadow: 1px 1px 5px #1e90ff;
					}
					.commonInputBox{
						position: relative;	
						width: 150px;					
						.commonput{
							width: 100%;
						}
						.showDetailBox{
							position: absolute;
							top: 0px;
							right: 0px;
							width: 30px;
							height: 30px;
							line-height: 32px;
							text-align: center;
							.showDetail{
								cursor: pointer;
								color:#ebebeb;
								font-size: 18px;
							}
							.showDetail:hover{
								color:#3cc;
							}
						}
					}
				}
				.topTable th{
					width:105px;
					text-align: right;
					font-weight: normal;
				}
				// .rightBtn{
				// 	position: absolute;
				// 	right: 10px;
				// 	margin-left: 30px;
				// 	.rightMinBtn{
				// 		color:#fff;
				// 		height: 30px;
				// 		line-height: 30px;
				// 		width: 80px;
				// 		border-radius: 3px;
				// 		text-align: center;
				// 	}
				// 	.searchBtn{
				// 		background-color: #3cc;
				// 		margin-bottom: 10px;
				// 	}
				// 	.resetBtn{
				// 		background-color: #f33;
				// 	}
				// }
			}
			.tableContent{
				width: 100%;
				padding: 20px 0px;
				.infoTable{
					// table-layout: fixed;
					border-spacing: 0;
					border: 1px solid #d9d9d9;
					border-collapse: collapse;
					tr:nth-child(even){
						background-color: #f8f8f8;
					}
					tr:nth-child(odd){
						background-color: #fff;
					}
					.tableTitle{
						background-color: #3cc!important;
						// height: 40px;
						// line-height:40px;
						color: #fff;
					}
					tr:hover{
						background-color: #f3f3f3;
					}
				}
				.infoTable td{
					border: 1px solid #d9d9d9;
					text-align: center;
					padding: 7px;
					word-break: break-all; 
					word-wrap:break-word;
					.showMoreContent{
						position: relative;
						.txt{
							display: block;
							white-space:nowrap; 
							overflow:hidden; 
							text-overflow:ellipsis;
							width: 100%;
						}
						// .showMoreBtn{
						// 	position: absolute;
						// 	bottom: -8px;
						// 	right: -3px;
						.arrowDown{
							font-size: 15px;
							color: #999;
						}
						.lookMore{
							display: none;
							position: absolute;
							width: 200px;
							padding: 10px;
							top:25px;
							left:-100px;
							background:rgba(0,0,0,0.8);
							color: #fff;
							z-index: 2;
							line-height: 20px;
							.rectangle{
								border-bottom: 6px solid rgba(0,0,0,0.8);
								border-left: 6px solid transparent;
								border-right: 6px solid transparent;
								position: absolute;
								top: -6px;
								left: 100px;
							}
						}
						.showMore{
							display: block;
						}
						// }
					}
				}
				.infoTable th{
					font-weight: normal;
					border: 1px solid #d9d9d9;
					text-align: center;
					padding:7px;
				}
			}
			.commonputBox{
				display: inline-block;
				width: 150px;
				// overflow: hidden;
				height: 30px;
				position: relative;
				vertical-align: middle;
				border-radius:5px;
			}
			.commonselect{
				display: inline-block;
				width: 150px;
				max-width: 100%;
				overflow: hidden;
				height: 30px;
				position: relative;
				border:1px solid #bdbdbd;
				vertical-align: middle;
				border-radius:5px;
				.selBox{
					padding-left: 10px;
					position: absolute;
					left: 0px;
					width:100%;
					height: 28px;
					border:none;
					line-height: 30px;
					background: transparent;
					cursor: pointer;
				}
				// .selBtn{
				// 	position: absolute;
				// 	right:0px;
				// 	top:0;
				// 	height: 30px;
				// 	line-height: 30px;
				// 	color:#999;
				// 	width: 30px;
				// 	text-align: center;
				// }
				&:before {
				    position: absolute;
				    right: 8px;
				    top: 7px;
				    display: inline-block;
				    font: normal normal normal 14px/1 FontAwesome;
				    font-size: inherit;
				    text-rendering: auto;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				    content:"\f107";
				    color: #aaa;
				    cursor: pointer;
				}
			}
		}

	}
	.rightnew{
		width:100%;
		padding-left:40px;
	}
	.after;
}