.chartCommentTitle {
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgb(242,242,242);
	border: 1px solid rgb(0, 204,204);
	line-height: 30px;
	padding: 0 15px;
	border-radius: 6px;
}

.changeButton.yellow {
	background: rgb(255,204,0);
	color: #fff;
}

.changeButton.chartTab {
	border-right: 1px solid #fff;
	width: 100px !important;
}
.changeButton.chartTab:last-child {
	border-right: none;
}

.commonselect {
	float:right;
	margin: 20px 0;
}

th.yellow {
	border-bottom: 1px solid rgb(255,204,0) !important;
}

.infoTableTop {
	border: none !important; 
}