.like {
  float: left;
  padding-right: 10px;
}
.like .likefont {
  font-size: 16px;
  color: red;
}
.reply {
  float: left;
}
.reply .editfont {
  font-size: 16px;
}
.after:after {
  display: block;
  content: '';
  clear: both;
}
.item-title {
  font-size: 14px;
  color: #757575;
  font-weight: 600px;
}
.mainContainer {
  position: relative;
}
.mainContainer .mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.mainContainer .unitsChoose {
  display: none;
  background-color: #fff;
  width: 720px;
  margin: -270px 0 0 -360px;
  position: fixed;
  left: 50%;
  top: 50%;
  border: 1px solid #ccc;
}
.mainContainer .unitsChoose .unitsContainer {
  position: relative;
  padding: 20px;
}
.mainContainer .unitsChoose .unitsContainer .cancelBtn {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 0;
  color: #bdbdbd;
  cursor: pointer;
}
.mainContainer .unitsChoose .unitsContainer .unitsHeader {
  width: 100%;
  border-bottom: 1px dashed #bdbdbd;
}
.mainContainer .unitsChoose .unitsContainer .unitsHeader .unitsTitle {
  padding-bottom: 10px;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel {
  width: 100%;
  height: 380px;
  position: relative;
  margin-bottom: 30px;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn {
  width: 45%;
  float: left;
  min-height: 380px;
  border: 1px solid #cfcfcf;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox {
  padding: 10px;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnBar {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px dashed #cfcfcf;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnBar .searchBox {
  border: none;
  border: 1px solid #cfcfcf;
  width: 210px;
  display: block;
  float: left;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnBar .leftSearchBtn {
  display: block;
  float: left;
  width: 60px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  text-align: center;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnBar:after {
  display: block;
  content: '';
  clear: both;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnContent {
  padding: 20px;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnContent .leftColumnBtn {
  float: left;
  width: 40px;
  padding-right: 10px;
  text-align: center;
  font-size: 18px;
  color: #ccc;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnContent .leftColumnBtn .unShowCollege,
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnContent .leftColumnBtn .showCollege {
  display: none;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnContent .leftColumnBtn .addShow {
  display: inline-block;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnContent .leftColumnProvinces {
  padding-left: 10px;
  float: left;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnContent .leftColumnProvinces .provinceItems {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnContent .leftColumnProvinces .provinceItems label {
  display: inline-block;
  vertical-align: middle;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnContent .leftColumnProvinces .showMoreCollege {
  display: none;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnContent .leftColumnProvinces .showMoreCollege .collegeItems {
  padding-left: 20px;
  cursor: pointer;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .leftColumn .leftColumnBox .leftColumnContent .leftColumnProvinces .showMoreCollegeActive {
  display: block;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .middleColumn {
  width: 10%;
  line-height: 380px;
  float: left;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .middleColumn .btnBox {
  height: 50px;
  margin-top: 165px;
  text-align: center;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .middleColumn .btnBox .moveRight {
  display: block;
  font-size: 23px;
  color: #bdbdbd;
  padding-bottom: 20px;
  cursor: pointer;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .middleColumn .btnBox .moveLeft {
  display: block;
  font-size: 23px;
  color: #bdbdbd;
  cursor: pointer;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .middleColumn .btnBox .lightGreen {
  background-color: #3cc;
  color: #fff;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .middleColumn .btnBox .moveLeft:hover {
  color: #666;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .middleColumn .btnBox .moveRight:hover {
  color: #666;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .rightColumn {
  width: 45%;
  float: left;
  border: 1px solid #cfcfcf;
  min-height: 380px;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .rightColumn .rightColumnContent {
  padding: 10px;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .rightColumn .rightColumnContent .rightColumnBar {
  padding: 10px;
  border-bottom: 1px dashed #cfcfcf;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel .rightColumn .rightColumnContent .chooseAlready {
  padding: 10px;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .totalModel:after {
  display: block;
  content: '';
  clear: both;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .bottomBtn {
  position: absolute;
  right: 0px;
  bottom: 20px;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .bottomBtn .forSure,
.mainContainer .unitsChoose .unitsContainer .unitsContent .bottomBtn .forConsole {
  display: block;
  float: right;
  width: 80px;
  text-align: center;
  margin-right: 20px;
  border-radius: 3px;
  color: #fff;
  height: 30px;
  line-height: 30px;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .bottomBtn .forSure {
  background-color: #00cc99;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .bottomBtn .forConsole {
  background-color: #33ccff;
}
.mainContainer .unitsChoose .unitsContainer .unitsContent .bottomBtn:after {
  display: block;
  content: '';
  clear: both;
}
