<style>
	.faqItem .fa-minus {
		display:none;
	}
	.faqQuestion {
		cursor: pointer;
	}
	.faqItem.show .faqHide {
		display: block !important;
	}
	.faqItem.show .fa-minus {
		display: inline-block;
	}
	.faqItem.show .fa-plus {
		display: none;
	}

</style>
<div id="faq_center_container">
	<faq-center></faq-center>
</div>
<script type="text/x-vue-template" id="faq_center_template">
	<div class="changeBarContainer">
		<div class="changeBarBox" style="background-color:#fff;">
			<a class="changeLeft green changeButton" style="width: 100%;border-radius: 6px;text-align: center;padding-left:10px;min-width: 100px;">FAQ</a>
		</div>
		<div class="addDataBtn addDataBtn1" style="margin-right:0;" v-on:click="addNewFaq" id="addShow">新增</div>
	</div>
	<div class="enterBox">
		<div class="topTableBox"> 
			<div class="searchBar">
				<div class="commonInputBox">
					<input type="text" placeholder="请输入您要搜索的问题" class="commonput" v-model="search_str" v-on:keydown.13="search" style="border:1px solid #ebebeb;">
				</div>
				<div class="addDataBtn searchBtn" v-on:click="search" style="background-color#57D9E9;">查询</div>
				<div class="addDataBtn downloadBtn" style="float:right;background-color:#57D9E9">操作手册下载</div>
			</div>
		</div>
	</div>
	<div class="tableContent" id="faqShow">
		<div class="infoTableBox">
			<div class="faqContent">
				<div class="faqItem" v-for="faq in faqs" track-by="id" v-show="faq.show">
					<div class="faqPlus" v-on:click="toggleQuestion">
						<i class="fa fa-plus fa-lg faqflag"></i>
						<i class="fa fa-minus fa-lg faqflag"></i>
					</div>
					<span class="faqQuestion" v-on:click="toggleQuestion">{{faq.title}}</span>
					<span style="color: #bfaeae;margin-left: 5px;">
						<i class="fa fa-times" style="cursor:pointer;" v-on:click="deleteFaq(faq)" id="deleteShow"></i>
						<i class="fa fa-edit" style="cursor:pointer;" v-on:click="editFaq(faq.id)" id="eidtShow"></i>
					</span>
					<div class="faqHide">
						<p class="faqPara">
							{{faq.text}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tableContent" id="faqShow_">
		<div class="infoTableBox">
			<div class="faqContent">
				<div class="faqItem" v-for="faq in faqs" track-by="id" v-show="faq.show">
					<div class="faqPlus" v-on:click="toggleQuestion">
						<i class="fa fa-plus fa-lg faqflag"></i>
						<i class="fa fa-minus fa-lg faqflag"></i>
					</div>
					<span class="faqQuestion" v-on:click="toggleQuestion">{{faq.title}}</span>
					<span style="color: #bfaeae;margin-left: 5px;display:none;">
						<i class="fa fa-times" style="cursor:pointer;" v-on:click="deleteFaq(faq)"></i>
						<i class="fa fa-edit" style="cursor:pointer;" v-on:click="editFaq(faq.id)"></i>
					</span>
					<div class="faqHide">
						<p class="faqPara">
							{{faq.text}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mask"></div>
	<div class="unitsChoose">
		<div class="unitsContainer">
			<div class="cancelBtn" v-on:click="closeModal(false)">
				<i class="fa fa-close showCollege"></i>
			</div>
			<div class="unitsHeader">
				<p class="unitsTitle">FAQ问题管理</p>
			</div>
			<div class="unitsContent unitsContent2">
				<div class="faqEnter">
					<p class="leftItem">问题名称 :</p>
					<div class="commonInputBox rightItem1 rightItem">
						<input class="commonput" v-model="editTitle">
					</div>
					<p class="leftItem leftItem2">问题描述 :</p>
					<div class="commonInputBox  rightItem2 rightItem">
						<textarea class="commontextBox" style="border: 1px solid #ddd;" v-model="editText"></textarea>
					</div>
				</div>
				<div class="bottomBtn">
					<p>
						<a class="forSure" v-on:click="closeModal(true)">确定</a>
						<a class="forConsole" v-on:click="closeModal(false)">取消</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/javascript">
	Vue.component('faq-center', {
		template: $(faq_center_template).html(),
		data: function(){
			return {
				faqs: [],
				search_str: "",
				currentEdit: null,
				editTitle: '',
				editText: ''
			}
		},
		methods: {
			toggleQuestion: function(e){
				console.dir(e)
				var parent = $($(e.target).parents('.faqItem'))
				parent.siblings().removeClass('show')
				parent.toggleClass('show')
			},
			closeModal: function(save){
				var self = this
				if (save) {
					if (this.currentEdit === null) {
						Promise.resolve($.ajax({
							url: '/faq/edit?title=' + self.editTitle + '&text=' + self.editText,
							error: function(){}
						})).then(function(res){
							if (res.state == 0) {
								self.faqs.push({
									title: self.editTitle,
									text: self.editText,
									id: Number.parseInt(res.id),
									show: true
								})
								self.search_str = ""
								self.search()
								$(".mask").hide();
								$(".unitsChoose").hide();
							} else {
								alert('新增faq失败')
							}
						}, function(e){
							console.log(e)
							alert('新增faq失败')
						})
					} else {
						Promise.resolve($.ajax({
							url: '/faq/edit?title=' + self.editTitle + '&text=' + self.editText + '&id=' + self.currentEdit,
							error: function(){}
						})).then(function(res){
							if (res.state == 0) {
								var index
								self.faqs.find(function(faq, _index){
									if (faq.id == self.currentEdit) {
										index = _index
										return true
									}
								})
								var _faq = {
									title: self.editTitle,
									text: self.editText,
									id: self.currentEdit
								}
								self.judgeReveal(_faq)
								self.faqs.splice(index, 1, _faq)
								$(".mask").hide();
								$(".unitsChoose").hide();
							} else {
								alert('保存失败')
							}
						}, function(e){
							console.log(e)
							alert('保存失败')
						})
					}
				} else {
					$(".mask").hide();
					$(".unitsChoose").hide();
				}
			},
			openModal: function(){
				var currentEdit = this.currentEdit
				if (currentEdit === null) {
					this.editTitle = ""
					this.editText = ""
				} else {
					var faq = this.faqs.find(function(faq){
						return faq.id == currentEdit
					})
					this.editTitle = faq.title 
					this.editText = faq.text
				}

				$(".mask").show();
				popAlertBox(".unitsChoose");
				dragBox(".unitsChoose");
			},
			search: function() {
				var self = this
				self.faqs.forEach(function(faq){
					self.judgeReveal(faq)
				})
			},
			judgeReveal: function(faq){
				var search_str = this.search_str.trim()
				if ((faq.title && faq.title.indexOf(search_str) != -1)
					|| (faq.text && faq.text.indexOf(search_str) != -1)) {
					faq.show = true
				} else {
					faq.show = false
				}
			},
			addNewFaq: function(){
				this.currentEdit = null
				this.openModal()
			},
			editFaq: function(id){
				this.currentEdit = id
				this.openModal()
			},
			deleteFaq: function(faq){
				var self = this
				if (confirm('确认删除："' + faq.title + '"吗?')) {
					Promise.resolve($.ajax({
						url: '/faq/delete?id='+ faq.id,
						error: function(){}
					})).then(function(res){
						if (res.state == '0') {
							var index
							self.faqs.find(function(_faq, _index){
								if (_faq.id == faq.id) {
									index = _index
									return true
								}
							})
							self.faqs.splice(index, 1)
						} else {
							alert('删除失败')
						}
					}).catch(function(e){
						console.log(e)
						alert('删除失败')
					})
				}
			}
		},
		ready: function(){
			var self = this
			Promise.resolve($.ajax({
				url: '/faq/get',
				type: 'GET'
			})).then(function(res){
				if (res.state == 0) {
					self.faqs = res.faq.map(function(faq){
						faq.show = true
						return faq
					})
				} else {
					alert('获取失败')
				}
			})
		}
	})

	new Vue({
		el: '#faq_center_container'
	})	
	/*

	$(".faqContent").delegate(".faqPlus, .faqQuestion","click",function(){
		$(this).parents('.faqItem').toggleClass('show')
	})

	$(".forSure").bind("click",function(){
		var que=$(this).parents(".unitsContent").find(".commonput").val();
		var ans=$(this).parents(".unitsContent").find(".commontextBox").val();

		if(que!=""&&ans!=""){
			var dom = generateFAQ(que, ans)

			Promise.resolve($.ajax({
				url: '/faq/edit?title=' + que + '&&text=' + ans 
			})).then(function(res){
				console.dir(res)
			}, function(e){
				console.log(e)
			})

			$(".faqContent").append(dom)
			search('')
		} else {
			alert('未填完数据')
			return
		}

		$(".mask").hide();
		$(".unitsChoose").hide();
	})

	$(".forConsole").bind("click",function(){
		$(this).parents(".unitsContent").find(".commonput").val("");
		$(this).parents(".unitsContent").find(".commontextBox").val("");
	})*/
console.log(userlevel);
if(userlevel=="0"){
	$("#addShow").removeClass("showMenu");
	$("#faqShow").removeClass("showMenu");
	$("#faqShow_").addClass("showMenu");
}
else{
	$("#addShow").addClass("showMenu");
	$("#faqShow").addClass("showMenu");
	$("#faqShow_").removeClass("showMenu");
}
$(".downloadBtn").bind("click",function(){
	window.location.href="../download/year.xlsx"
})
</script>